@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B0E14;
  --foreground: #ededed;
  --cyan-glitch: #00F5FF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(0, 245, 255, 0.5), 0 0 20px rgba(0, 245, 255, 0.3);
  }
  
  .border-glow {
    box-shadow: 0 0 10px rgba(0, 245, 255, 0.3);
  }
}
